﻿@model IEnumerable<Demo_ManageRestauran.Models.Food>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<body>
<div class="x_content">
    <a asp-action="Create" class="btn btn-primary">Create <i class='fas fa-plus-square'></i></a>
    <table class="table">
        <thead>
        <tr style="color: red">
            <th> Name </th>
            <th > DEsc </th>
            <th> Giá </th>
        </tr>
        </thead>
        <tbody>
       @foreach (var item in Model)
        {
            <tr class="text-left">
                <td> @Html.DisplayFor(modelItem => item.FoodName)</td>
                <td> @Html.DisplayFor(modelItem => item.Description)</td>
                <td> @Html.DisplayFor(modelItem => item.Price)</td>

                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FoodID">Edit <i class="fa fa-edit"></i></a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.FoodID">Delete <i class="fa fa-trash"></i></a>
                    @* <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.StudentID” onclick=“return confirm('bạn có chắc chắn muốn xóa');">Delete</a> *@
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>
</body>
</html>