﻿@model IEnumerable<Demo_ManageRestauran.Models.FoodRestaurent>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <table class="table">
        <thead>
        <tr style="color: red">
            <th> Name </th>
            <th > DEsc </th>
          </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-left">
                <td> @Html.DisplayFor(modelItem => item.FoodID)</td>
                <td> @Html.DisplayFor(modelItem => item.RestauranID)</td>
                <td>
                    @*<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FoodID">Edit <i class="fa fa-edit"></i></a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.FoodID">Delete <i class="fa fa-trash"></i></a>*@
                    @* <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.StudentID” onclick=“return confirm('bạn có chắc chắn muốn xóa');">Delete</a> *@
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>
</body>
</html>